[DATABASE 1]
host =
database =
user =
pass =

[DATABASE 2]
host =
database =
user =
pass =

[WSDL]
wsdlCacheDir =

[SKS]
localPartnerId =
apiAccount =
apiPassword =
apiUri =
apiConnectionTimeout =

[SERVER]
address =
nePort =

[NETENT]
externalProviderId =
merchantId =
merchantPassword =
apiLocation =
apiConnectionTimeout =

[IT]
isItalian =

[BONUS]
funBonusNotificationLink =

[LOG]
logDir =

[PGDA]
sessionDuration =
headerLength =


