[DATABASE 1]
host =
database =
user =
pass =

[DATABASE 2]
host =
database =
user =
pass =

[WSDL]
wsdlCacheDir =

[ISBETS]
localProviderId =
apiAccount =
apiPassword =
apiUri =
apiConnectionTimeout =

[SERVER]
address =
nePort =

[NETENT]
externalProviderId =
merchantId =
merchantPassword =
apiLocation =
apiConnectionTimeout =


